body {
    display: flex;
    flex-direction: column;
}

.container-one,
.footer {
    background-color: #1F2937;
}

.text1 {
    font-size: 48px;
    font-weight: bolder ;
    color:#F9FAF8;
}

.text2 , 
.header-link {
    font-size: 18px;
    color:#E5E7EB;
}

.header-logo {
    font-size: 24px;
    color:#F9FAF8;
}