.below-header img {
    width:350px;
    height:170px;
    
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "roboto";
}

.container-one,
.footer {
    background-color: #1F2937;
}

.text1 {
    font-size: 48px;
    font-weight: bolder ;
    color:#F9FAF8;
    display:flex;
}

.text2 , 
.header-link {
    font-size: 18px;
    color:#E5E7EB;
}

.header-logo {
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
    justify-content: center;
}

.header {
    display:flex;
    justify-content: space-between;
    gap:400px;
    margin-bottom: 70px;
    margin-left: 120px;
    margin-right: 120px;

}


.header-link {
    display:flex;
    gap: 15px;
   
    
}

.container-one{
    display:flex;
    flex-direction: column;
    flex:1;
   
}

.below-header {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 100px;;
   
    
}

button {
    background-color:#3882f6;
    color:white;
    font-weight: bold;
    border-radius: 15px;
    font-size: 20px;
}

.text1 {
    display:flex;
    width: 300px;
    
}
.text2 {
    display:flex;
    width: 400px;
}
/* End of styling for container 1*/

.container-two img {
    width: 300px ;
    height: 300px;
}

.container-two {
   
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight:bolder;
    color:#1F2937;
    margin: 30px 0px;
}

.information{
    display:flex;
    text-align: center;
    justify-content: center;
    margin: 50px 0px;
    gap: 30px;
    flex-shrink: 1;

}

.info img {
    border: 1px solid blue;
    border-radius: 15px;
    
}

/* End of styling for container 2*/

.container-three {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:auto;
    height: 300px;
    font-style: italic;
    text-align: center;
    
    
    
}
.container-three .Author {
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
}

/* End of styling for container 3*/

.container-four{
    height:400px;
    flex:1;
    
}
.above-footer{
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: #3882f6;
    color:white;
    margin-bottom:auto;
    margin: 100px;
    gap: 50px;
    font-size: 36px;
    
    
    
}

.above-footer .text1 {
    font-weight:bold;
    margin-top: 30px;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 20px;
    height: 50px;
    
}

.content .text1,
.content .text2{
   width: 500px;
    
}
.above-footer .text2 {
    margin-bottom: 30px;
}

